@{
    ViewData["Title"] = "Log In";
}

<style type="text/css">
    .login{padding:50px 20px; max-width:400px; width:100%; margin:0 auto;}    
</style>

<div class="text-center">
    <h1 class="display-4">Charlotte's Web</h1>
    <p>Learn about <a href="https://github.com/datasilk/charlotte">Charlotte</a> on GitHub.</p>
</div>

<div class="login">
    <form method="post">
        <div class="row hover">
            <div class="col field long">Username</div>
            <div class="col input"><input type="text" name="username" /></div>
        </div>
        <div class="row hover">
            <div class="col field long">Password</div>
            <div class="col input"><input type="password" name="password" /></div>
        </div>
        <div class="row pad-top-sm right">
            <button type="submit">Login</button>
        </div>
    </form>
</div>
