<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3239.1723" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.3239.1723" targetFramework="net461" />
  <package id="CefSharp.Common" version="63.0.3" targetFramework="net461" />
  <package id="CefSharp.OffScreen" version="63.0.3" targetFramework="net461" />
  <package id="DasMulli.Win32.ServiceUtils" version="1.2.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Core" version="3.5.21022.801" targetFramework="net461" />
  <package id="System.Memory" version="4.5.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.ServiceModel.NetTcp" version="4.5.0" targetFramework="net461" />
  <package id="System.ServiceModel.Primitives" version="4.5.0" targetFramework="net461" />
</packages>