@import 'tapestry/tapestry.less';
@import 'themes/default.less';

header{
    padding:10px 20px;
    a:link, a:visited, a:hover, a:active{text-decoration:none;}
    &:after{content:'';display:block;clear:both;}
}
button, .button{height:36px; line-height:1.7 !important; box-sizing:border-box;}

.show-console{padding:20px;}
.dashboard{max-width:2100px; margin:0 auto;}
.dashboard .item .title{font-weight:bold;}
.dashboard .list span.row, .dashboard .list span.col{display:inline-block;}
span.uses-cookies{background-color:#bfe7cf; padding:9px 10px 10px 10px !important;}
.row.hover:hover .uses-cookies{background-color:#bbf9d3;}
span.note{background-color:#f9f5a2; padding:9px 10px 10px 10px !important; margin-left:20px}
.row.hover:hover .note{background-color:#fffbae;}
.console{position:fixed; top:50px; width:100%; max-width:700px; height:100%; max-height:600px; left:-100%; 
        background:rgb(10,10,10); border-radius:10px; overflow:hidden; padding:20px;
        color:#aaa; font-family:monospace;
    .scrollable{ overflow-y:auto; overflow-x:hidden; height:~"calc(100% - 40px)";
        & > div{padding-bottom:15px;}
        .note{font-size:11px;}
    }
}
.console.show{ animation:ease-out 0.3s console-slidein; left:0%;}
.console.hide{ animation:ease-out 0.3s console-slideout; left:-100%;}
@keyframes console-slidein {
    0%   {left:-100%;}
    100% {left:0%;}
}
@keyframes console-slideout {
    0%   {left:0%;}
    100% {left:-100%;}
}