@model Router.Models.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "Dashboard/_Layout";
}

<div class="show-console"><a href="javascript:" onclick="showConsole()">Show Console</a></div>

<div class="dashboard">
    <div class="list">
    @if(Model.Config != null && Model.Config.Charlotte != null && Model.Config.Charlotte.Instances != null)
    {
        @foreach(var instance in Model.Config.Charlotte.Instances)
        {
            <a href="/EditInstance?id=@(System.Net.WebUtility.UrlEncode(instance.Id))">
                <span class="row hover pad item">
                    <span class="col text title">@(instance.ServerName + " - " + instance.Id)</span>

                    <span class="col text pad-right">
                        @instance.Url
                    </span>
                    @if(instance.UsesCookies == true)
                    {
                        <span class="col text uses-cookies">Uses Cookies</span>
                    }
                    @if(instance.Note != "")
                    {
                        <span class="col text note">@instance.Note</span>
                    }
                </span>
            </a>
        }
    }
    </div>
</div>

<div class="console">
    <div class="row pad text-right">
        <a href="javascript:" onclick="showConsole();">Hide Console</a>
    </div>
    <div class="scrollable">
        <div class="note">
            Welcome to Charlotte's Web. This console displays live information about
            requests being made to this server from Collector and those requests 
            being redirected to an instance of Charlotte to process a web page. Charlotte
            sends the result to the user via this specialized routing server.
        </div>
    </div>
</div>

<script src="/js/signalr.js"></script>
<script src="/js/dashboard.js"></script>