@model Router.Models.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "Dashboard/_Layout";
}

<style type="text/css">
    .dashboard{max-width:2100px; margin:0 auto;}
    .dashboard .item .title{font-weight:bold;}
    .dashboard .list span.row, .dashboard .list span.col{display:inline-block;}
    span.uses-cookies{background-color:#bfe7cf; padding:9px 10px 10px 10px !important;}
    .row.hover:hover .uses-cookies{background-color:#bbf9d3;}
    span.note{background-color:#f9f5a2; padding:9px 10px 10px 10px !important; margin-left:20px}
    .row.hover:hover .note{background-color:#fffbae;}
</style>

<div class="dashboard">
    <div class="list">
    @if(Model.Config != null && Model.Config.Charlotte != null && Model.Config.Charlotte.Instances != null)
    {
        @foreach(var instance in Model.Config.Charlotte.Instances)
        {
            <a href="/EditInstance?id=@(System.Net.WebUtility.UrlEncode(instance.Id))">
                <span class="row hover pad item">
                    <span class="col text title">@(instance.ServerName + " - " + instance.Id)</span>

                    <span class="col text pad-right">
                        @instance.Url
                    </span>
                    @if(instance.UsesCookies == true)
                    {
                        <span class="col text uses-cookies">Uses Cookies</span>
                    }
                    @if(instance.Note != "")
                    {
                        <span class="col text note">@instance.Note</span>
                    }
                </span>
            </a>
        }
    }
    </div>
</div>
