@{
    ViewData["Title"] = "Add Instance";
    Layout = "Dashboard/_Layout";
}

<style type="text/css">
    .add-instance{padding:50px 20px; max-width:400px; width:100%; margin:0 auto;}    
</style>

<div class="add-instance">
    <div class="row pad-bottom">
        <h4>Add New Charlotte Instance</h4>
    </div>
    <form method="post">
        <div class="row hover">
            <div class="col field long">ID</div>
            <div class="col input expand short"><input type="text" name="instanceId" placeholder="Charlotte-008" title="A unique ID or name for this instance of Charlotte" /></div>
        </div>
        <div class="row hover">
            <div class="col field long">Url</div>
            <div class="col input expand short"><input type="text" name="url" placeholder="https://127.0.0.1:7365" title="The URL endpoint for your Charlotte instance" /></div>
        </div>
        <div class="row hover">
            <div class="col field long">Server Name</div>
            <div class="col input expand short"><input type="text" name="serverName" title="The name of the machine that Charlotte is running on" /></div>
        </div>
        <div class="row hover">
            <div class="col field long"></div>
            <div class="col input expand short">
                <input type="checkbox" value="1" name="usesCookies" id="usesCookies" title="Does the instance have cookies & user sessions enabled?" />
                <label for="usesCookies">Uses Cookies</label>
            </div>
        </div>
        <div class="row hover">
            <div class="col field long">Note (optional)</div>
            <div class="col input expand short"><input type="text" name="note" title="Any notes that you'd like to add about this instance?" /></div>
        </div>
        <div class="row pad-top-sm">
            <div class="col right">
                <button type="submit">Add Instance</button>
            </div>
            <div class="col right pad-right">
                <a href="/Dashboard" class="button cancel">Cancel</a>
            </div>
        </div>
    </form>
</div>
